body {
 font-family: 'Open Sans';
 background-color: var(--black);
 color: var(--white)
}

.container {
    background-color: var(--lavendar);
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
}

#roundResult {
    font-size: 1.5rem;
    text-align: center;
}

#results {
   padding: 2rem
}

h1 {
    font-size: 4rem;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: var(--lavendar);
    padding: 2rem;
    border-radius: 2rem;
}

#countdown {
    font-size: 1.75rem;
    text-align: center;
}

:root {
    --dark-purple: #592E83;
    --light-purple: #9984D4;
    --lavendar: #CAA8F5;
    --black: #080705;
    --white: #FFFFFA;
}

.button {
    width: 175px;
    color: (var(--lavendar));
    border-radius: 1rem;
    background-color: var(--lavendar);
    border: 2px sold black;

}

.button:hover {
    width: 175px;
    color: (var(--lavendar));
    border-radius: 1rem;
    background-color: var(--lavendar);
    border: 2px sold black;
    opacity: 70%;
        cursor: pointer
}


.button:disabled {
    width: 175px;
    color: (var(--lavendar));
    border-radius: 1rem;
    background-color: grey;
    opacity: 100%;
}

.button-box {
    
    padding:1rem;
    margin: 2rem auto;
    width: 40%;
}

.score-box {
    display: flex;
    width: 50%;
    justify-content: space-between;
   
}

.score-count {
    font-size: 5rem;
    margin: 0;
}

.score-container {
    background-color: var(--lavendar);
    padding: 1rem;
    width: 200px;
    border-radius: 1rem;
    text-align: center;
    
}

.row {
    display: flex;
    justify-content: space-between;
}